{% extends "spec.html" %}

{% block title %}SWORD 3.0 Specification{% endblock %}

{% block content %}

    <h1 class="main_title">SWORD 3.0 Specification</h1>

    <div class="nav">
        <div class="toc">
            {{ toc() }}
        </div>
    </div>

    <div class="spec">

        {% include "fragments/version.md" %}
        {% include "fragments/introduction.md" %}
        {% include "fragments/terminology.md" %}
        {% include "fragments/structure.md" %}
        {% include "fragments/http_headers.md" %}
        {% include "fragments/protocol_operations.md" %}
        {% include "fragments/protocol_requirements.md" %}
        {% include "fragments/documents.md"  %}
        {% include "fragments/auth_nz.md" %}
        {% include "fragments/transport_security.md" %}
        {% include "fragments/errors.md" %}
        {% include "fragments/content_disposition.md" %}
        {% include "fragments/content_digests.md" %}
        {% include "fragments/concurrency_control.md" %}
        {% include "fragments/continued_deposit.md" %}
        {% include "fragments/segmented_file_upload.md" %}
        {% include "fragments/by_reference.md" %}
        {% include "fragments/metadata_deposit.md" %}
        {% include "fragments/metadata_formats.md" %}
        {% include "fragments/packaged_content_deposit.md" %}
        {% include "fragments/packaging_formats.md" %}
        {% include "fragments/auto_discovery.md" %}
        {% include "fragments/references.md" %}

    </div>

{% endblock %}