{% extends "spec.html" %}

{% block title %}SWORD 3.0 Specification{% endblock %}

{% block content %}

    <h1 class="main_title">SWORD 3.0 Specification</h1>

    <div class="nav">
        <div class="toc">
            {{ toc() }}
        </div>
    </div>

    <div class="spec">

        {% include "fragments/version.md" %}
        {% include "fragments/introduction.md" %}
        {% include "fragments/protocol_requirements.md" %}
        {% include "fragments/documents.md"  %}
        {% include "fragments/content_disposition.md" %}
        {% include "fragments/segmented_file_upload.md" %}
        {% include "fragments/metadata_deposit.md" %}
        {% include "fragments/metadata_formats.md" %}

    </div>

{% endblock %}

{#
{~ html div,clazz=nav ~}
{% toc %}
{~ html /div ~}

{~ html div,clazz=spec ~}

{% include VERSION.md %}
{% include sections/INTRODUCTION.md %}
{% include sections/TERMINOLOGY.md %}
{% include sections/STRUCTURE.md %}
{% include sections/HTTP_HEADERS.md %}
{% include sections/PROTOCOL_OPERATIONS.md %}
{% include sections/PROTOCOL_REQUIREMENTS.md %}
{% include sections/DOCUMENTS.md %}
{% include sections/AUTH_NZ.md %}
{% include sections/TRANSPORT_SECURITY.md %}
{% include sections/CONTENT_DISPOSITION.md %}
{% include sections/CONTENT_DIGESTS.md %}
{% include sections/CONCURRENCY_CONTROL.md %}
{% include sections/CONTINUED_DEPOSIT.md %}
{% include sections/SEGMENTED_FILE_UPLOAD.md %}
{% include sections/BY_REFERENCE.md %}
{% include sections/METADATA_DEPOSIT.md %}
{% include sections/METADATA_FORMATS.md %}
{% include sections/PACKAGED_CONTENT_DEPOSIT.md %}
{% include sections/PACKAGING_FORMATS.md %}
{% include sections/AUTO_DISCOVERY.md %}
{% include sections/REFERENCES.md %}
{~ html /div ~}
#}