body {
    font-family: sans-serif;
}

dt {
    font-weight: bold;
}

pre {
    background: #eeeeee;
    padding: 10px;
    overflow-x: auto;
}

pre code {
    background: #eeeeee;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

code {
    background: #fffd5d;
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid #ffd73f;
    border-radius: 3px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.figure_label {
    font-style: italic;
    text-align: right;
}

.main_title {
    font-size: 3em;
    margin-left: 280px;
}

.nav {
    position: fixed;
    overflow: scroll;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
}

.spec {
    margin-left: 280px;
}

.toc a {
    text-decoration: none;
}

.toc li {
    margin-bottom: 10px;
    text-indent: -10px;
    margin-left: 10px;
}

.toc ul {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

table td {
    border: 1px solid #cccccc;
    padding: 5px;
    min-width: 150px;
    vertical-align: top;
}

table th {
    border: 1px solid #cccccc;
    padding: 5px;
    vertical-align: top;
}

.http_headers table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

.http_headers table td {
    border: 1px solid #cccccc;
    padding: 5px;
    min-width: 150px;
    vertical-align: top;
}

.http_headers table th {
    border: 1px solid #cccccc;
    padding: 5px;
    vertical-align: top;
}

.openapi table {
    border: 1px solid #cccccc;
    border-collapse: collapse;
}

.openapi table td {
    border: 1px solid #cccccc;
    padding: 5px;
    min-width: 150px;
    vertical-align: top;
}

.openapi table th {
    border: 1px solid #cccccc;
    padding: 5px;
    vertical-align: top;
}